---
---

@import 'fa/_fa';
@import 'bootstrap/bootstrap';
@import '_flexslider';

$navheight: 60px;
$footerheight: 102px;
$font: "jaf-bernino-sans";

@mixin header() {
  font-family: $font, Helvetica, Arial, sans-serif;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/** Sticky Footer
========================= */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -50px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: $footerheight;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/**
========================= */

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #555;
  margin: 0 0 0.8em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  @include header;
}

nav.navbar {
  height: $navheight;
}

.navbar-brand {
  line-height: $navheight;
  height: $navheight;
  padding-top: 3px;
  padding-bottom: 0px;
  @include header;

}

main {
  padding-top: 59px;
}

.slider .slides > li, .slider, .jumbotron {
  //this is a slide
  min-height: 400px;
  height: 75vh;
  padding: 0px;
  margin: 0;
}

.flexslider {
  margin: 0;
  padding: 0;
  border: 0px;
}

.flex-control-nav {
  bottom: 20px;
}

.flex-direction-nav {

  a.flex-prev {
    left: 10px;
    opacity: 1;

    &:before {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f104";
    }
  }
  a.flex-next {
    right: 10px;
    opacity: 1;

    &:before {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f105";
    }
  }

  a.flex-prev,
  a.flex-next {
    height: 70px;
    width: 40px;
    &:before {
      font-size: 5em;
    }
  }

}

.bio {
  padding: 45px 0;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.asides {
  background-color: #F6F6F6;
  padding: 65px 0 45px;
}

aside.widget {

  @media (min-width: $screen-sm-min) {
    margin: 0px 13px;
  }

  background-color: white;
  border: 1px solid #E0E0E0;
  padding: 60px 30px 20px;
  text-align: center;

  position: relative;

  .icon {
    height: 90px;
    width: 90px;
    display: block;
    margin: 0 auto;
    top: -45px;
    position: absolute;
    border-radius: 45px;

    left: 50%;
    margin-left: -45px;

    background-color: #3f42c3;
    color: white;
    line-height: 90px;
    font-size: 50px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

}

aside.widget:hover {
  .icon {
    top: -55px;
    background-color: #333;
  }
}

footer {
  background-color: #333333;
  color: white;
  padding: 25px 0 40px;

  p {
    line-height: $footerheight - 24 - 40;
  }
}

.ferns, a.ferns, a.ferns:link, {
  color: #056838;

  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.navbar-nav > li > a {
  line-height: 30px;
}

.section-title {
  text-align: center;
  padding-bottom: 8px;

}

#asides .section-title {
  margin-bottom: 50px;
}

.jumbotron {
  padding-top: 30px;
  h1, h2, h3, h5 {
    margin: 10px 0;
    span {
      padding: 4px 10px;
      display: inline-block;
      background: rgba(0,0,0,0.5);
      color: white;

    }
  }
}

section {
  padding: 50px 0;
}

div.background {
  height: 400px;
  height: 50vh;
  width: 100%;
  & {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: block;
    content: " ";
  }
}

.pad-for-widgets {
  padding-bottom: 60px;
}

p, li {
  font-size: 15px;
}
