<footer class="site-footer clearfix" id="footer">

  <div class="container">

    <a style="float: right;" href="//91ferns.com"><img style="width: 120px;" src="https://secure.91ferns.com/img/91ferns.png"></a>
    <p>© PMV DMV 2014. All rights reserved. Private Service Bureau licensed by the State of New York.</p>
  </div>

</footer>

<!--
<script src="{{ "/js/jquery.flexslider.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>

<script type="text/javascript">
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    prevText: "",           //String: Set the text for the "previous" directionNav item
    nextText: "",
  });
});
</script>

-->
