<div class="col-md-4 col-sm-6">
  <div class="logo" id="empire-harley">
    <span class="label">Empire Harley Davidson</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="kisco-honda">
    <span class="label">Mt. Kisco Honda</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="newro-toyota">
    <span class="label">New Rochelle Toyota</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="rye-ford">
    <span class="label">Rye Ford</span>
  </div>
</div>


<div class="col-md-4 col-sm-6">
  <div class="logo" id="usa1-auto">
    <span class="label">US 1 Auto</span>
  </div>
</div>


<div class="col-md-4 col-sm-6">
  <div class="logo" id="westchester-toyota">
    <span class="label">Westchester Toyota</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="newro-honda">
    <span class="label">New Rochelle Honda</span>
  </div>
</div>

<!-- new -->

<div class="col-md-4 col-sm-6">
  <div class="logo" id="newro-mazda">
    <span class="label">New Rochelle Mazda</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="bedford-acura">
    <span class="label">Bedford Acura</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="pleasantville-ford">
    <span class="label">Pleasantville Ford</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="acura-westchester">
    <span class="label">Acura Westchester</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="greenwich-honda">
    <span class="label">Greenwich Honda</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="stamford-subaru">
    <span class="label">Stamford Subaru</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="stamford-kia">
    <span class="label">Stamford Kia</span>
  </div>
</div>

<!-- end new -->
