<div class="col-md-4 col-sm-6">
  <div class="logo" id="rye-ford">
    <span class="label">Rye Ford</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="pleasantville-ford">
    <span class="label">Pleasantville Ford</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="bedford-acura">
    <span class="label">Bedford Acura</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="kisco-honda">
    <span class="label">Mt. Kisco Honda</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="miller-motors">
    <span class="label">Miller Motors</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="yonkers-honda">
    <span class="label">Yonkers Honda</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="empire-harley">
    <span class="label">Empire Harley Davidson</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="wheels">
    <span class="label">Wheel's Sports Center and <strong>Yamaha</strong></span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="usa1-auto">
    <span class="label">US 1 Auto</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="greenwich-honda">
    <span class="label">Greenwich Honda</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="greenwich-acura">
    <span class="label">Greenwich Acura</span>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="logo" id="stamford-subaru">
    <span class="label">Stamford Subaru</span>
  </div>
</div>